* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 100;
    padding: 100;
    font-family: 'Graphik', sans-serif
}

.container {
    height: 930px;
    background-image: url(../img/header-bg.png);
}

.header-top-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.header_bg {
    width: 100%;
    position: relative;
}

.header-bottom {
    position: flex;
}

h1 {
    width: 672px;
    height: 168px;
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}