* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 100;
    padding: 100;
    font-family: 'Graphik', sans-serif
}

.container {
    height: 930px;
    background-image: url(../img/header-bg.png);
    background-position: center;
}

.header-top {
    display: flexbox;
    justify-content: space-between;
}


.header-top-menu__link {
    display: block;
    line-height: 28px;
    font-size: 15px;
    color: #FFFFFF;
    display: flexbox;
    justify-content: space-between;
}

.header-top-social-item {
    padding-left: 1050px;
}

.social-item {
width: 40px;
margin-left: 33px;
    
}

.header-top-menu-list {
    flex: 0 0 33.333%;
}

.header-top-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 58px;
    width: 186px;
    position: absolute;
    padding-left: 50%;

}

.header_bg {
    width: 100%;
    position: relative;
}

.main-description-section {
    position: flex;
}

h1 {
    padding-left: 25%;
    padding-right: 25%;
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-bottom-description {
    padding-left: 24%;
    padding-right: 24%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;  
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.header-bottom-button {
    padding-left: 47%;
}

.header-button {
    color: #FFFFFF;
}